@import url(reset.css);
@import url(https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

html {
  /* Para generar animaciones por css en los enlaces de ancla */
  scroll-behavior: smooth;
}

:root {
  --fuenteprincipal: "Montserrat", sans-serif;
  --fuentetitulo: "Handlee", cursive;
  --colorprincipal: #fa573a;
  --colorsecundario: #21242e;
  --colordarkmode: white;
  --colorgrey: #aaa;
  --margingrid: 1em;
  --fontsize: 1em;
  --anchomaximo: 68.75em; /* Mejor en em para todos los navegadores
  ancho maximo(para enconrsetar el diseno en el centro) */
}

img {
  /* imagenes responsive */
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: var(--anchomaximo);
  margin: 0 auto;
}

body {
  font-family: var(--fuenteprincipal);
  font-size: var(--fontsize);
}

/* INICIO HEADER */
header .nav-top {
  background-color: var(--colorsecundario);
  padding: 1.25em 0em;
}

header .nav-top .container {
  display: flex;
  justify-content: space-around;
}

header .nav-top a {
  text-decoration: none;
}

header .nav-top a i {
  color: var(--colorprincipal);
  font-size: 120%;
}

header .nav-top a span {
  color: var(--colordarkmode);
  display: none; /* (oculta los textos menu sup para moviles) */
}

header nav {
  color: var(--colordarkmode);
  padding: 1.25em; /*por todos lados*/
}

header nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav .container .logo {
  max-width: 100px;
}

/* HAMBURGUEEEESA */
header nav .container .hamburguesa {
  width: 1.875em;
  cursor: pointer; /*toda la superficie de la hamburguesa es clicable */
}

header nav .container .hamburguesa > div {
  border-top: 2px solid var(--colorgrey);
  margin-bottom: 0.625em;
}

header nav .container .menu {
  width: 100%;
  /* al ocupar el 100% no comparte espacio  */
  text-align: center;
}

header nav .container .menu li a {
  display: block;
  /*(hacer cliclable todo el bloque no solo el texto del menu)*/
  padding: 1.25em;
  text-decoration: none;
  color: var(--colorgrey);
  border-bottom: 1px solid var(--colorgrey);
  /* linea sgris en el menu */
  transition: 1s;
}

header nav .container .menu li:last-child a {
  border: 0px; /*Para quitar la linea inferior del nav menu inferior last-child de la "li" no del "a"*/
}

header nav .container .menu li :is(a:hover, .activo) {
  color: var(--colorprincipal);
}
/* link activo del nav */

/* FIN HEAAAAADER */

/* INICIO FOOOOOOTER */
footer {
  background-color: var(--colorsecundario);
  padding: 1.25em 0em;
  /* padding solo por arriba y por abajo */
  text-align: center;
  color: var(--colordarkmode);
  position: fixed;
  /* Position fixed: Cambia de capa y pierde la medida del contenedor por eso hay que agregarle width*/
  width: 100%;
  bottom: 0;
  /* Fija su posicion abajo total bottom */
}

footer a {
  text-decoration: none;
  /* Hay que quitar text decoration porque la regla esta incluida en reset css  */
  color: var(--colordarkmode);
}

footer a:hover {
  color: var(--colorprincipal);
  /* color de links on hover */
}

/* FIN FOOOOOOOTER */

.flecha a {
  display: block;
  color: var(--colorprincipal);
  position: fixed;
  bottom: 1.25em;
  right: 0.25em;
  font-size: 300%;
}

/* INICIO HEEEEEROOOOOO*/

.hero {
  background-image: url(../images/fondo.jpg);
  height: 60vh;
  /* hay que darle altura si no no se ve la imagen al estar en fondo */
  background-size: cover;
  background-position: center center;
  /* centrar la imagen de fondo para que se vean los elementos
  center horizontal center vertical */
  background-color: #777;
  background-blend-mode: multiply;
  /* fusion de capa color con imagen de fondo */
  color: var(--colordarkmode);
  display: flex;
  /* Para centar el contenido del container */
}

.hero .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  /* Al ponerle width se centra en un ancho concreto. */
}

.hero h1 {
  font-family: var(--fuentetitulo);
  font-size: 2em; /*200%*/
}

.hero h2 {
  color: var(--colorprincipal);
  font-size: 1.25em;
  margin: var(--margingrid) 0;
}

.hero p {
  font-size: 1.15em;
}

.boton {
  display: inline-block;
  /* Convierte elemento en linea a elemento en bloque */
  background-color: var(--colorprincipal);
  color: var(--colordarkmode);
  text-decoration: none;
  padding: 1.15em;
  margin: var(--margingrid) 0;
  border: 1px solid var(--colorprincipal);
}

.boton:hover {
  background-color: transparent;
  color: var(--colorprincipal);
}

.boton:hover i {
  transition: 0.5s;
  transform: translateX(5px) scale(1.1);
  /*movimientolaflecha.*/
}

.hero ul :hover i {
  color: var(--colorprincipal);
  transition: 0.5s;
}

.hero ul {
  display: flex;
  width: 9em;
  justify-content: space-between;
}

.hero ul a {
  color: var(--colordarkmode);
  text-decoration: none;
  font-size: 2em;
}
/* FINAL HEEEEEROOOOOOO */

/* INICIO OUUURSEEEEEEERVICEEEES */
main section {
  padding: 2.125em 1.5em;
}

main section h2 {
  color: black;
  font-family: var(--fuentetitulo);
  font-size: 2em;
  text-align: none;
  text-align: center;
}

main section h2 span {
  color: var(--colorprincipal);
}

main section .underline {
  position: relative;
  width: 6.25em;
  margin: 0 auto;
  color: var(--colorprincipal);
  font-weight: 700;
  text-align: center;
}

main section .underline span {
  position: absolute;
  top: -0.4em;
}

main section .underline hr {
  border-color: var(--colorprincipal);
}

main section .grid-services {
  display: flex;
  flex-wrap: wrap;
}
/* Para poner los articulos en vertical de our services */

main section .grid-services article {
  width: 100%;
  /* para centrarlos al maximo de su tamano en moviles */
  border-bottom: 1px solid var(--colorgrey);
  padding: 1.5em 0;
}

main section article > div .fa-solid {
  /* article>div .fa-solid ataca solo a los hijos directos de article .fa-solid que es la propiedad de los iconos */
  padding: 0.75em;
  color: var(--colorprincipal);
  font-size: 120%;
}

main section article h3 {
  font-weight: 700;
  font-size: 110%;
  margin: 0.625em 0em;
}

main p {
  color: #666;
  line-height: 1.25em;
  font-size: 95%;
}

main section article p {
  margin-bottom: 0.5em;
}

.enlace {
  text-decoration: none;
  font-weight: 700;
  color: var(--colorprincipal);
}

.fa-truck {
  transform: rotateY(180deg);
}

/* FINAL OUR SERVICES */

/* INICIO ABOUUUTUUUUUUUS */
main #aboutus {
  margin-bottom: 3.75em; /* 70px misma medida en header y boton*/
}

main section .grid-aboutus {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
}

main section .grid-aboutus h3 {
  font-weight: 700;
  font-size: 110%;
}

main section .grid-aboutus h4 {
  color: var(--colorprincipal);
  margin: var(--margingrid) 0;
}

main section .grid-aboutus .imagen {
  width: 95%;
  margin: 2.5em auto;
}

main section .grid-aboutus .imagen .marco {
  border: 3px solid var(--colorprincipal);
  transform: rotateZ(10deg);
  transition: 1s;
}

main section .grid-aboutus .imagen .marco img {
  transform: rotateZ(-10deg);
  transition: 1s;
}

main section .grid-aboutus .imagen:hover :is(.marco, .marco img) {
  transform: rotateZ(0deg);
}

/* BLOOOOOOG */

section #ourblog {
  padding: 2.125em 1.5em;
}

main section .grid-blog {
  display: flex;
  flex-wrap: wrap;
}

main section .grid-blog article {
  width: 50%;
  border-bottom: none;
  padding: 1.5em;
  /* Afecta a todos los lados de la linea */
  margin-top: 1em;
}

/* Para poner los articulos en vertical de our services */

.date-blog {
  background-color: var(--colorprincipal);
  width: 100px;
  height: 30px;
  text-align: left;
  color: white;
}

/* OUR  MENUUUUUUUU */
main section .grid-todaysmenu {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  margin-left: 3em;
}

main .todays-grid-container {
  background-color: var(--colorsecundario);
}

.grid-menu-today {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

main section .menu-list h2 {
  font-family: var(--fuenteprincipal);
  font-weight: 600;
  font-size: 110%;
  color: var(--colordarkmode);
  margin: var(--margingrid) 0;
  text-align: left;
  margin-top: 3em;
}

main section .line {
  width: 3em;
  text-align: left;
}

main section .line hr {
  border-color: var(--colorprincipal);
}

.aside-menu li a {
  display: flex;
  color: var(--colordarkmode);
  font-weight: 500;
  margin-bottom: 5px;
  padding: 5px 5px;
  border-radius: 3px;
  text-decoration: none;
}

.menu-list .title {
  margin-bottom: 2em;
}

.title-menu h2 {
  color: var(--colordarkmode);
}

main section aside h2 {
  color: var(--colordarkmode);
  text-align: left;
  margin-top: 2em;
}

.blog p {
  color: var(--colordarkmode);
}

.menu-list p {
  color: var(--colordarkmode);
}

.grid-menu-today h3 {
  color: var(--colordarkmode);
  font-size: 15px;
}

.grid-menu-today article {
  margin-bottom: 2em;
}
.link-article a {
  text-decoration: none;
  color: var(--colorprincipal);
  font-weight: 600;
}

.aside-menu {
  margin-top: 3em;
}

.aside-menu li :is(a:hover, .activo) {
  color: var(--colordarkmode);
  background-color: #fa573a;
}

.grid-menu-today h3 span {
  display: flex;
  color: var(--colorprincipal);
  justify-content: flex-end;
}

aside p {
  color: var(--colordarkmode);
  margin-bottom: 2em;
}

/* MEDIAQUERIEEEEEEEEEEEEEEES */
@media (min-width: 37.5em) {
  /*600px TABLEEEEEET MOVL*/
  main section .grid-services article {
    width: 50%;
    border-bottom: none;
    border-left: 1px solid var(--colorgrey);
    padding: 1.5em;
    /* Afecta a todos los lados de la linea */
    margin-top: 1em;
  }

  main section .grid-services article:last-child {
    /* Last child ataca al ultimo elemento */
    width: 100%;
  }

  main section .grid-aboutus {
    flex-direction: row;
  }

  main section .grid-aboutus .imagen {
    margin: 5em;
  }

  .grid-menu-today p {
    color: var(--colordarkmode);
    margin: 0 auto;
  }
}

@media (min-width: 48em) {
  /*768px TABLEEEETTTS grande o pantalla peq*/

  header .nav-top a span {
    display: inline;
    /*(poner los elementos en linea para visualizar los textos)*/
  }

  footer {
    text-align: left;
  }
}

@media (min-width: 62.75em) {
  /*1004px DESKTOOOOP*/
  header nav .container .hamburguesa {
    display: none;
  }

  header nav .container .menu {
    width: auto;
    /* auto para que sea el sistema flex cual es su espacio  */
    text-align: left;
  }

  header nav .container .menu li a {
    padding: 0em 1.25em; /*quita el padding de arriba y abajo*/
    border-bottom: none; /*lineas gris en el menu*/
  }
  header nav .container .menu li {
    display: inline-block; /*Elemento en linea (li menu) pero se comporta como bloque)*/
  }

  main section .grid-services :is(article, article:last-child) {
    width: 33.333%;
  }

  main section .grid-blog article {
    width: 33.333%;
  }

  aside .container {
    display: inline-block;
  }

  main section .line {
    width: 4em;
  }

  .menu-list .title {
    display: inline-block;
  }

  main section .grid-menu-today {
    display: inline-block;
    flex-direction: row;
    margin-left: 10em;
  }
  .flex-menu {
    margin-top: 5em;
    display: flex;
  }

  .container-aside {
    width: 10vw;
  }

  .grid-menu-today img {
    width: 15em;
  }

  .grid-menu-today article {
    display: flex;
  }
  .grid-menu-today .text-article {
    margin-left: 5em;
  }

  .grid-menu-today p {
    color: var(--colordarkmode);
    margin: 0 auto;
  }

  .grid-menu-today h3 {
    margin: 0 auto;
  }
}
